<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KulturGambiaApplication"
        android:theme="@style/Theme.KulturGambia">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzDDY1JhEoYa6lINLm3ixmS_DZ5lpQ6EU" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KulturGambia.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>
